* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    color: #00f;
}

.col-third {
    width: calc(100% / 3);
}

#main {
    margin: 16px auto ;
    width: 37.5em;
    height: 37.5em;
    background-color: #555;
}

table {
    width: 100%;
    text-align: center;
    color: #fff;
}

table th i:hover {
    color: #00f;
    cursor: pointer;
}

thead {
    height: 2.5em;
}

#wrap-nav {
    margin-top: 1em;
    height: 1.75em;
    line-height: 1.75em;
    color: #000;
}

#wrap-nav div {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif; */
}